#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	[ -f config.mak ] && make distclean || rm -f *.o *.d configure.log symlookup

override_dh_auto_configure:
	CFLAGS='-D_FORTIFY_SOURCE=2 -march=native -O2 -funswitch-loops -fgcse-after-reload -fomit-frame-pointer -pipe -s -fpredictive-commoning -ftree-loop-linear -floop-interchange -floop-strip-mine' ./configure --prefix=/usr --enable-cflags

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/tmp install
